* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 50px;
    background-color: blue;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: 30%;
    font-size: 1.6rem;
    margin-left: 20px;
}

.menu { 
    width: 70%;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

.menu ul li a:hover {
    color: black;
}

.list-cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card {
    width: 30%;
}

.card img {
    width: 100%;
    height: 200px;
}

.card h2 {
    text-align: center;
    padding: 10px;
    background-color: aquamarine;
    margin-bottom: 10px;
}

.card p {
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
}

.list-cards-2 {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.card2 {
    width: 33%;
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.card2-img img {
    height: 200px;
}

.card2-text {
    height: 200px;
    margin-left: 15px;
}

.card2-text h2 {
    font-size: 1rem;
    margin-bottom: 10px;
    background-color: aquamarine;
    text-align: center;
}

.card2-text p {
    background-color: aquamarine;
    font-size: 1rem;
    text-align: center;
    padding: 10px;
}